.sidebar {
  position: relative;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#0D2C40;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar b {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #f1f1f1;
  display: block;
}

.sidebar img {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  display: inline-block;
  margin-left: 160px;
  padding: 0px 10px;
}

.main table, tr, th, td {
    border: 1px solid black;
}