<html>
    <head>
        <title>Documentation Config</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/css_styling.css') }}">
    </head>
    <body>
        <div id="sidebar">
            {% for product in products %}
                <a href="/{{product.lower()}}">{{product}}</a>
            {% endfor %}
        </div>


        <div id="main">

            <!--display the maintainers-->
            <p>
                <h1>{{doc_dict['productname']}}</h1>
                <b>Maintainers:</b>
                {% for maintainer in doc_dict['maintainers'] %}
                    {{maintainer}}
                {% endfor %}
            </p>

            <!--display the descriptions-->
            <p>
                <b>Descriptions:</b>
                {% for key, value in doc_dict['descriptions'].items() %}
                    <details>
                        <summary>
                            {{key}}
                        </summary>
                        <p>
                            {{value['desc_text']}}
                        </p>
                    </details>
                {% endfor %}
            </p>

            <!--display the versions-->
            <b>Versions:</b>
            {% for version in doc_dict['docsets'] %}
            <p>
                <a href='{{doc_dict["shortname"]}}-{{version}}'>{{version}}</a>
            </p>
            {% endfor %}

        </div>
    </body>
<html>