<html>
    <head>
        <title>Documentation Config</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/css_styling.css') }}">
    </head>
    <body>

        <div id="sidebar">
            {% for product in products %}
                <a href="/{{product.lower()}}">{{product}}</a>
            {% endfor %}
        </div>


        <div id="main">

            <!--display the productname-->
            <h1>{{prname}}</h1>

            <!--display the maintainers-->
            <p>
                <b>Maintainers:</b>
                {% for maint in maint_list %}
                    {{maint}}
                {% endfor %}
            </p>

            <!--display the descriptions-->
            <p>
                <b>Descriptions:</b>
                {% for key, value in doc_dict['descriptions'].items() %}
                    <details>
                        <summary>
                            {{key}}
                        </summary>
                        <p>
                            {{value['desc_text']}}
                        </p>
                    </details>
                {% endfor %}
            </p>

            <!--display the versions-->
            <b>Versions:</b>
            {% for version in ver_list %}
                {% set major = doc_dict['docsets'][version]['major_version'] %}
                {% set minor = doc_dict['docsets'][version]['minor_version'] %}
                <p>
                    <a href='{{shortname.lower()}}-{{major}}-{{minor}}'>{{version}}</a>
                </p>
            {% endfor %}
        </div>

    </body>
<html>
