<html>
    <head>
        <title>Documentation Config</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/css_styling.css') }}">
    </head>
    <body>

        <div class="sidebar">
            <img src="../static/images/SUSE_icon_reverse.png" alt="suse_logo" width="90" height="40"/>
            <a href="/">Start Page</a>
            <b>Products:</b>
            {% for product in products %}
                <a href="/{{product.lower()}}">{{product}}</a>
            {% endfor %}
        </div>


        <div class="main">
            <h1>{{doc_dict['productname']}} {{mv}}</h1>
            {% for version in doc_dict['docsets'] %}
                {% if mv in doc_dict['docsets'][version]['major_version'] %}
                    <p><a href="{{shortname}}-{{mv}}-{{doc_dict['docsets'][version]['minor_version']}}">{{version}}</a></p>
                {% endif %}
            {% endfor %}
        </div>

    </body>
<html>